body {
  font-family: serif;
  background-color: f;
  color: #0;
  font-size: 12pt;
  background: #fff url('wiley_acme_logo.jpeg') no-repeat fixed top right;
}

h1 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16pt;
  text-align: center;
  padding: 0 0 10px 0;
  margin: 10px 0 20px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bebebe;
}

p {
  padding: 0;
  margin: 0px 0 40px 0;
}

#container {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
}

#navigation {
  width: 18%;
  overflow: hidden;
  text-align: left;
  padding: 180px 0 0 0;
  float: left;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation ul li a:link,
#navigation ul li a:visited {
  color: #f00;
  text-decoration: none;
}

#navigation ul li a:hover {
  color: #f00;
  text-decoration: underline;
}

#navigation ul li a:active {
  color: #00f;
  text-decoration: none;
  border-style: dashed;
  border-width: 1px;
}

#logo {
  float: right;
}

#acmeLogo {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  border-width: 0;
}

#content {
  width: 52%;
  padding: 0 180px 0 0;
  text-align: left;
  float: left;
}

#footer {
  text-align: center;
  font-size: 10pt;
}