body
{
  font-family: serif;
  font-size: 12pt;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

form
{
  text-align: left;
}

fieldset
{
  border: 0;
}

label
{
  float: left;
  padding-right: 10px;
  text-align: right;
  width: 250px;
}

input
{
  float: left;
  width: 300px;
}

thead
{
  background-color: #0f73ff;
  color: #fff;
}

th
{
  text-align: left;
}

#noJavascriptCovering
{
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#noJavascriptCovering .message
{
  width: 800px;
  overflow: hidden;
  padding: 20px;
  background-color: rgba(80, 0, 0, 0.85);
  text-align: left;
  margin: 80px auto;
}

#root
{
  padding: 10px 0 0;
}

#formContainer
{
  border-width: 1px;
  border-style: solid;
  border-color: #0f73ff;
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

#resultsContainer
{
  border-width: 1px;
  border-style: solid;
  border-color: #0f73ff;
  width: 600px;
  text-align: center;
  margin: 30px auto;
}

#searchResultsTable
{
  text-align: left;
  width: 100%;
}

#createButton,
#searchButton,
#updateButton,
#resetButton
{
  display: inline;
  width: auto;
}

.validationMessage
{
  font-size: 10pt;
  color: #d00;
}

.searchInfoMessage
{
  font-size: 10pt;
}

.requiredField
{
  color: #d00;
}

.fail,
.success,
.info
{
  width: 100%;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
}

.fail
{
  background-color: #f00;
  color: #fdd;
}

.success
{
  background-color: #092;
  color: #9e8;
}

.info
{
  background-color: #06e;
  color: #9be;
}

.invalidField
{
  background-color: #f77;
}

.updateLinkCell
{
  text-align: center;
}
